# web framework
Flask
# Flask-RESTful

# forms
# Flask-WTF
# WTForms

# system dynamics
pysd
DateTime

#API requests
requests

# databases
Flask-SQLAlchemy
Flask-Migrate

# Authentication
# Flask-JWT
Flask-Login

# heroku deployment
uwsgi
psycopg2