# web framework
Flask
# Flask-RESTful

# forms
Flask-WTF
WTForms

# system dynamics
pysd

# databases
Flask-SQLAlchemy
Flask-Migrate

# Authentication
# Flask-JWT
Flask-Login

# heroku deployment
uwsgi
psycopg2