
#baseDiv{
    margin-top: 100px;
}

#controllers{
    width:100%;
    padding: 32px 16px;
    /* background-color: #e9ecef; */
}

.chartFrame{
    min-height:350px;
    min-width: 280px;
}

#timeSelector{
    width: 60%;
}

#runNameHidden{
    display:none;
}

#runName{
    border:solid lightgrey 1px;
    border-radius:5px;
    margin-right:10px;
}
#runName:focus{
    outline: none;
    border:solid mediumturquoise 1px;
    border-radius:5px;
}
#runName::placeholder{
    color:lightgray;
}

.hidden{
    display:none;
}

footer{
    margin: 50px auto;
    margin-bottom: 20px;
    padding-left: 30px;
    color: grey
}