
#mainDiv{
    margin-top: 56px;
}

#controllers{
    width:100%;
    padding: 32px 16px;
    /* background-color: #e9ecef; */
}

.chartFrame{
    min-height:350px;
    min-width: 280px;
}

footer{
    margin: 50px auto;
    margin-bottom: 20px;
    padding-left: 30px;
    color: grey
}